Source: sonic-sdi-api
Section: net
Priority: optional
Maintainer: Dell <support@dell.com>
Build-Depends: debhelper (>= 9), autotools-dev
Standards-Version: 3.9.3

Package: sonic-sdi-api-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: This package contains SDI (System Device Interface) public api. SDI API is the platform API that encapsuates fans, powersupplies, and pluggable modules.

